body{
    
    margin: 0%;
    padding: 0%;
   
}
.login-form {
    width: 600px;
    margin: 100px auto;
    z-index: 0px;

}
input{
    width: 0 auto;
}
.login-form form {        
    background: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}  
.form-control{
    width: 0px;
}
.form-control, .btn {
    height: 36px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
img{

    margin-top: 12px;
    margin-left: 54px; 
    padding: 35px; 
}
h2{
    margin-left: 70px;   
}